<div class="container text-center mt-3">
  <button class="btn btn-primary" (click)="backClicked()">Go-Back</button>
</div>
<div class="paper">
  <div class="lines">
    <div class="text" contenteditable spellcheck="false">
      <div class="container text-center">Basic Info</div>
      <br /><br />
      First Name :{{ ifdata.fName }} <br />
      Last Name :{{ ifdata.lName }} <br />
      Email :{{ ifdata.email }} <br />
      Password :{{ ifdata.password }} <br />
      Phone :{{ ifdata.phone }} <br />
      Pincode :{{ ifdata.pincode }} <br />
    </div>
  </div>
</div>
